.about {
  height: 70rem;
  
  
 
 



  &__content__top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50%;
    margin-bottom: 4rem;
   
    
   

    p {
      margin: 1rem 0;
      max-width: 65%;
    }

  }

  &__content__bottom {
    height: 40%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $soft-white;
    // background-image: url(/src/images/about.jpg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    background: linear-gradient(to left, $secondaryColor, rgba(0, 0, 0, 0.5)), url(/src/images/about.jpg) center center/cover no-repeat;



  }

  .btn {
    margin-top: 2.5rem;
  }
}