.about {
  display: flex;
  justify-content: center;
  height: 65rem;

  
  
 
 &__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
  

  
   
 }





  span {
    text-transform: uppercase;
    font-size: 1rem;
    
  }


  &__img {
    width: 32vw;
    height: 46rem;
    background-image: url(/src/images/story.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $boxShadow;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 6rem;
    right: 0;
    bottom: 0;

    @include respond(tab-port) {
      width: 45%;
     
    }

   
    
    
  }



  &__content {
    width: 80vw;
    position: relative;
    text-align: left;
   
  

    @include respond(tab-port) {
      width: 100%;
    }
    
    

    p {
      padding-top: 1rem;
      width: 75%;
    }
  }

  &__inner {
    padding: 0 4.6rem;
    margin-left: 40%;
    color: $primaryColor;


    p:nth-of-type(2) {
      
      
    }

    p {
      width: 60%;
    }


    @include respond(tab-port) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;


     
    }


    hr {
      width: 10%;
    }
    
    
    button {
      background-color: $primaryColor;
      margin-top: 2rem;
     

      a {
        color: $white;
      }
    }
    
    
    

  }
  
  

  
   
  }
