.footer {
  height: 40rem;
  background: #fff;
  padding: 7.3rem 8rem;
  font-size: 1.4rem;

  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    

  }

  .footer__content {
    @include respond(tab-port) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-top: 4.2rem;
      margin-left: 3rem;
      margin-bottom: 3rem;
  
    }
  }


  &__social {
    display: flex;
    color: $primaryColor;
    width: 10%;
    justify-content: space-between;
    font-size: 1.2rem;
    transition: all .2s ease;

    li a {
      color: $primaryColor;
      margin: 0 .5rem;

      :hover {
        color: $tertiaryColor;
      }
    }

  }

 

  

  .logo  {
    font-size: 3rem;
    font-weight: 700;
  }

  &__navigation {
    padding-top: 2rem;
    
  }

  &__list {
    list-style: none;
  }

  &__items {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: #333;
      text-decoration: none;
      text-transform: uppercase;
      font-family: inherit;
      display: inline-block;
      margin-top: 2rem;
      
    }

    &:hover,
    &:active {
      color: $primaryColor;
      font-weight: 700;
    }
  }


  .footer__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
}