.footer {

  background: $white;
  width: auto;
  background: $white;
  padding: 7rem 14rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1.9;


  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 0;
   

  }





  h3 {
    margin: .5rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      font-size: 1.6rem;
    }

  }









  &__contact {
    

    @include respond(tab-port) {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;
      
    }
  }



  &__link {
    margin-right: .4rem;
    background: $tertiaryColor;
    width: 30px;
    height: 30px;
    text-align: center;

    border-radius: 50%;
    display: inline-block;
    font-size: 1.2rem;

    position: relative;
    transition: all .2s ease;

    &:hover {
      background: $tertiaryColor;
      transform: translateY(-.2rem);
      box-shadow: $boxShadow;
    }




    a {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      color: $white;
      transition: all .2s ease;

      &:hover {
        color: $white;
        
      
      }
    }

  }

  &__details p {
    font-size: 1.1rem;
  }


  &__details,
  &__details a,
  &__information,
  &__information a,
  &__account,
  &__account a {
    font-weight: 400;
    color: $darkGrey;
    font-size: 1.1rem;
    


    @include respond(tab-port) {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      font-size: 1.2rem;
    }
  }

  

  &__information {

    @include respond(tab-port) {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      margin-bottom: 2rem;
      text-align: center;
    }

  }

  &__account {

    @include respond(tab-port) {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
     
      margin-bottom: 4rem;
      text-align: center;
    }

  }


  &__information li a {
    position: relative;

   
   
    &::before {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 0px;
      top: 14px;
      width: 100%;
      height: 3px;
      background: $tertiaryColor;
      display: block;
      -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
      transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    }
    
    &:hover::before {
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1)
    }
    
  
  }

  &__account li a {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 0px;
      top: 14px;
      width: 100%;
      height: 3px;
      background: $tertiaryColor;
      display: block;
      -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
      transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    }
    
    &:hover::before {
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1)
    }

  }



  // @include respond(tab-port) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   width: 100%;


  // }

  // .footer__content {
  //   @include respond(tab-port) {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: column;
  //     text-align: center;
  //     width: 100%;

  //   }



  // }


  // &__social {
  //   display: flex;
  //   color: $primaryColor;
  //   width: 16%;
  //   justify-content: space-between;
  //   font-size: 1.2rem;




  //   .social__link {
  //     margin: 0 .9rem 0 0;
  //     color: $primaryColor;
  //     cursor: pointer;


  //     :hover {
  //       color: $tertiaryColor;
  //       font-size: 1.4rem;


  //     }
  //   }

  // }






  // .logo  {
  //   font-size: 3rem;
  //   font-weight: 700;
  // }

  // &__navigation {
  //   padding-top: 2rem;

  // }

  // &__list {
  //   list-style: none;
  // }

  // &__items {
  //   display: inline-block;

  //   &:not(:last-child) {
  //     margin-right: 1.5rem;
  //   }
  // }

  // &__link {
  //   &:link,
  //   &:visited {
  //     color: $darkGrey;
  //     text-decoration: none;
  //     font-family: inherit;
  //     display: inline-block;
  //     margin-top: 1rem;

  //   }

  //   &:hover,
  //   &:active {
  //     color: $primaryColor;
  //     font-weight: 700;
  //   }
  // }


  // .footer__box {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);

  // }


}