.hero {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
  
 
  
  &__content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(440px, 1fr) 1fr;
    grid-template-rows: 100% 40rem;
    height: 100%;
   

    @include respond(tab-port) {
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(Kickstr/dist/images/hero.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     grid-gap: 0;
      
    }
    
  }




  &__left {
    background: $primaryColor;
    color: $soft-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    @include respond(tab-port) {
      padding: 3rem;
       
     }
    
    

    & p {
      padding: 1.2rem 2rem;
      max-width: 70%;
    }
  }

  &__right {
    background-image: url(/dist/images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
  }

  .btn {
    margin-top: 1rem;
    box-shadow: $boxShadow;
  }
}