.hero {
  background: $white;
  height: 75vh;
  width: 100%;
  
  &__content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    
  }




  &__left {
    background: $primaryColor;
    color: $soft-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    

    & p {
      padding: 1.2rem 2rem;
      max-width: 80%;
    }
  }

  &__right {
    background-image: url(/src/images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .btn {
    margin-top: 2.5rem;
  }
}