*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  width: 2rem;
  margin: 1rem auto;
  border: 1px solid $secondaryColor;
}

button {
  display: inline-block;
}







