$primaryColor: #0c2d3b;
$primaryColor-dark:  #0a232e;
$secondaryColor: #1a3442;
$tertiaryColor: #eccd9c;
$black: #000;
$white: #fff;
$soft-white: rgb(238, 238, 238);
$darkGrey: #333;
$lightGrey: rgb(218, 218, 218);



$boxShadow: 0px 2px 4px rgba(0,0,0,0.18);

