

.btn {
  padding: 1.2rem 2.2rem;
  background: $tertiaryColor;
  border: none;
  box-shadow: $boxShadow;
 

  a {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    color: $darkGrey;
    cursor: pointer;
  }

}

.nav__btn {
  padding: 1.2rem 2.2rem;
  background: $tertiaryColor;
  border: none;
  box-shadow: $boxShadow;
  

  a {
    font-size: 1.1rem;
    cursor: pointer;
    
  }
}


