

.btn {
  padding: 1.2rem 2.2rem;
  background: $tertiaryColor;
  border: none;
  transition: all .2s ease;
  cursor: pointer;


 
    &:hover {
      
      color: $white;

       
        transform: translateY(-.2rem);
        box-shadow: $boxShadow;
      
    }

 

  a {
    
    font-size: 1.1rem;
    font-weight: 700;
    color: $darkGrey;
    

  
    
  }

}

.nav__btn {
  padding: 1.2rem 2.2rem;
  background: $tertiaryColor;
  border: none;
  box-shadow: $boxShadow;
  

  a {
    font-size: 1.1rem;
    cursor: pointer;
    
  }
}


